<style>
    .row div {
        margin-top: 16px;
    }
</style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="card" class="w-100">
                    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{fullname}}</h4>
                        <p class="card-text">User name: <strong>{{username}}</strong></p>
                        <p class="card-text">SĐT: <strong>{{phone}}</strong></p>
                        <p class="card-text">Địa chỉ: <strong>{{address}}</strong></p>
                        <p class="card-text">Ngày sinh: <strong>{{Birthdate}}</strong></p>
                        <p class="card-text">Số dư tài khoản: <strong id="money">{{balance}}</strong></p>
                        <p class="card-text">Trạng thái: <strong>{{status}}</strong></p>
                        {{#if verify}}
                        <form action="/admin/userprofile/{{username}}/verified" method="post">
                            <button class="btn btn-success mr-2 mt-2">{{verify}}</button>
                        </form>
                        {{/if}}
                        {{#if addinfo}}
                        <form action="/admin/userprofile/{{username}}/RequestIDCard" method="post">
                            <button class="btn btn-warning mr-2 mt-2">{{addinfo}}</button>
                        </form>
                        {{/if}}
                         {{#if disable}}
                        <form action="/admin/userprofile/{{username}}/disabled" method="post">
                            <button class="btn btn-danger mr-2 mt-2">{{disable}}</button>
                        </form>
                        {{/if}}        
                        {{#if block}}
                        <form action="/admin/userprofile/{{username}}/blocked" method="post">
                            <button class="btn btn-danger mr-2 mt-2">{{block}}</button>
                        </form>
                        {{/if}}
                       

                    </div>
                    <script>
                        const formatter = new Intl.NumberFormat('vi-VN', {
                            style: 'currency',
                            currency: 'VND',
                        });
                        document.getElementById('money').innerHTML = formatter.format({{balance}})
                    </script>

                </div>
                <p class="mt-3"><a href="#" onclick="history.back()">Quay lại</a></p>
            </div>

            
                {{#if idcard}}
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div>CMND mặt trước
                        <img width="400px" height="300px" src='/photo/{{idcard.photofrontName}}.jpg' alt={{idcard.photofrontName}} />          
                    </div>

                    <div>CMND mặt sau
                        <img width="400px" height="300px" src='/photo/{{idcard.photobackName}}.jpg' alt={{idcard.photobackName}} />          
                    </div>
                </div>
                {{/if}}

        </div>
    </div>
</body>