    <style>
        .row div {
            margin-top: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="card" class="w-100">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{fullname}}</h4>
                        <p class="card-text">User name <strong>{{username}}</strong></p>
                        <p class="card-text">password <strong>{{password}}</strong></p>
                        <p class="card-text">SĐT <strong>{{phone}}</strong></p>
                        <p class="card-text">Ngày sinh <strong>{{birthdate}}</strong></p>
                        <p class="card-text">Tài khoản <strong>{{balance}}.000 VNĐ</strong></p>
                    </div>
                </div>
                <p class="mt-3"><a href="#" onclick="history.back()" >Quay lại</a></p>
            </div>
        </div>
    </div>
</body>