<body>

<div class="container my-3">
    <h4 class="my-5 text-primary text-center text-uppercase">Lịch sử giao dịch</h4>
    <p>Chọn một giao dịch để xem chi tiết</p>
    <table class="table table-striped border">
        <thead>
            <tr>     
                <th>Mã giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Username thực hiện</th>
                <th>Số tiền</th>
                <th>Thời gian thực hiện</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each trans}}
            <tr>
                <td><a href="/transaction/{{id}}">{{id}}</a></td>
                <td>{{type}}</td>
                <td>{{username}}</td>
                <td>{{value}}</td>
                <td>{{date}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Tổng số giao dịch: <strong class="text-danger">5</strong></p>
</div>
</body>