<div class="container my-3">
    <h4 class="my-5 text-primary text-center text-uppercase">Danh sách user</h4>
    <a class="btn btn-success btn-sm my-4" href="/add">Thêm user</a>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Edit</th>
        </thead>
        <tbody>
            {{#each users}}
            <tr id="row{{username}}">
                <td>{{fullname}}</td>
                <td><a href="/user/{{username}}" id="name{{username}}">{{username}}</a></td>
                <td>{{password}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" onclick="window.location.href = '/update/{{username}}'">Chỉnh sửa</button>
                    <button class="btn btn-sm btn-outline-danger" onclick="ask_to_delete('{{username}}')">Xóa</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    <div id="flash-alert-del" class="alert alert-success text-center w-25 mx-auto my-3" style="display: none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span>Đã xóa người dùng</span>
    </div>



    <script>
        function ask_to_delete(username) {
            let name = $('#name' + username).text()
            $('#delname').text(name).attr('username', username)
            $('#deldialog').modal('show')
        }
        function do_delete() {
            let username = $('#delname').attr('username')
            $.ajax({
                url: '/delete/' + username,
                method: 'delete',
                success: function () {
                    $('#deldialog').modal('hide')
                    $('#flash-alert-del > span').show()
                    $('#flash-alert-del').removeClass('alert-danger').addClass('alert-success').show()
                    $('#row' + username).remove()
                    
                    {{!-- setTimeout(() => {
                        $('#flash-alert-del').fadeOut(2000)
                    }, 1000); --}}
                },
                error: function (error) {

                }
            })
        }

        
    </script>

    <div class="modal" tabindex="-1" role="dialog" id='deldialog'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa người dùng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc rằng muốn xóa <strong id='delname'>Trần Minh Trí</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="do_delete()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>