<body>

<div class="container my-3">
    <h4 class="my-5 text-primary text-center text-uppercase">Danh sách tài khoản{{type}}</h4>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>Username</th>
                <th>Họ và tên</th>
                <th>Email</th>    
                <th>SĐT</th>
                <th>Ngày sinh</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td><a href="/admin/userprofile/{{username}}">{{username}}</a></td>
                <th>{{fullname}}</th>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>{{Birthdate}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Tổng số user: <strong class="text-danger">5</strong></p>
</div>
</body>